@use './colors' as *;
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: $black;
	letter-spacing: 2px;
	font-weight: 300;
}
